In [4]:
#These are the libraries you can use.  You may add any libraries directy related to threading if this is a direction
#you wish to go (this is not from the course, so it's entirely on you if you wish to use threading).  Any
#further libraries you wish to use you must email me, james@uwaterloo.ca, for permission.

from IPython.display import display, Math, Latex

import pandas as pd
import numpy as np
import numpy_financial as npf
import yfinance as yf
import matplotlib.pyplot as plt
import random
from datetime import datetime

## Group Assignment
### Team Number: 14
### Team Member Names: Aadya, Furqan, Pranay
### Team Strategy Chosen: Market Beat

In [15]:

input_tickers = pd.read_csv("Tickers_Example.csv", names=['Tickers']) #OR any other CSV file with tickers in it
input_tickers

        Tickers
0          AAPL
1          AAPL
2          ABBV
3           ABT
4           ABT
5           ACN
6          HSBC
7           AGN
8           AIG
9          AMZN
10          AXP
11           BA
12           BA
13          BAC
14        BB.TO
15         BIIB
16           BK
17          SAP
18        MC.PA
19          BLK
20          BMY
21            C
22          CAT
23         CELG
24           CL
25          SAN
26           KO
27          LLY
28          LMT
29       9984.T
30           MO
31          MON
32          MRK
33          PEP
34  RELIANCE.NS
35          PFE
36           PG
37           PM
38         PYPL
39         QCOM
40          RTN
41        RY.TO
42      INFY.NS
43      SHOP.TO
44         T.TO
45        TD.TO
46       CPA.AX
47          TXN
48          UNH
49          UNP
50          UPS
51          USB

In [22]:
## PRELIMINARY DATA PROCESSING 
## AND INPUT PROCESSING

## WILL CSV BE EXACTLY THE WAY IT IS IN EXAMPLE??

## CHECK WHAT VALID CANADIAN AND US COMPANY MEANS?????
## FOR NOW, WE WILL CHECK IF THE TICKER EXISTS VIA YFINANCE
## i.e company is from other country but has a ticker on US/CAN EXCHANGE????
## THIS MAY LEAD TO FALSE POSITIVES/NEGATIVES

def validate_ticker(ticker):
    try:
        stock = yf.Ticker(ticker)
        info = stock.info

        if info and 'regularMarketPrice' in info:
            if 'exchange' in info:
                exchange = info['exchange']
                # yfinance uses these exchange codes, so we check against them
                valid_exchanges = ['NMS', 'NGM', 'NYQ','NAD','PCX','BTS','CBQ','ASE', 'TOR', 'TSE', 'Toronto', 'TSXV', 'CNQ', 'CSE','NEO']
                if exchange in valid_exchanges:
                    return True
                else:
                    return False  
            else:
                return False  
        else:
            return False
    except:
        return False

valid_tickers = []
for ticker in input_tickers['Tickers']:
    if validate_ticker(ticker):
        valid_tickers.append(ticker)
        #print(f"✓ Valid: {ticker}")  
    else:
        print(f"✗ Invalid ticker: {ticker}")

valid_tickers_df = pd.DataFrame(valid_tickers, columns=['Ticker'])
valid_tickers_df

# ✗ Invalid ticker: AGN
# ✗ Invalid ticker: MC.PA
# ✗ Invalid ticker: CELG
# ✗ Invalid ticker: 9984.T
# ✗ Invalid ticker: MON
# ✗ Invalid ticker: RELIANCE.NS
# ✗ Invalid ticker: RTN
# ✗ Invalid ticker: INFY.NS
# ✗ Invalid ticker: CPA.AX

✗ Invalid ticker: AGN
✗ Invalid ticker: MC.PA
✗ Invalid ticker: CELG
✗ Invalid ticker: 9984.T
✗ Invalid ticker: MON
✗ Invalid ticker: RELIANCE.NS
✗ Invalid ticker: RTN
✗ Invalid ticker: INFY.NS
✗ Invalid ticker: CPA.AX

     Ticker
0      AAPL
1      AAPL
2      ABBV
3       ABT
4       ABT
5       ACN
6      HSBC
7       AIG
8      AMZN
9       AXP
10       BA
11       BA
12      BAC
13    BB.TO
14     BIIB
15       BK
16      SAP
17      BLK
18      BMY
19        C
20      CAT
21       CL
22      SAN
23       KO
24      LLY
25      LMT
26       MO
27      MRK
28      PEP
29      PFE
30       PG
31       PM
32     PYPL
33     QCOM
34    RY.TO
35  SHOP.TO
36     T.TO
37    TD.TO
38      TXN
39      UNH
40      UNP
41      UPS
42      USB

In [23]:
# check for duplicate tickers

def check_duplicates(df):
    duplicates = df.duplicated()

    for index in duplicates.index:
        if duplicates[index] == True:
            print(f"Removing duplicate: {df.loc[index, 'Ticker']}")
            # remove the row from the dataframe
            df.drop(index, inplace=True)
    return df.reset_index().drop(columns=['index'])

check_duplicates(valid_tickers_df)

Removing duplicate: AAPL
Removing duplicate: ABT
Removing duplicate: BA

     Ticker
0      AAPL
1      ABBV
2       ABT
3       ACN
4      HSBC
5       AIG
6      AMZN
7       AXP
8        BA
9       BAC
10    BB.TO
11     BIIB
12       BK
13      SAP
14      BLK
15      BMY
16        C
17      CAT
18       CL
19      SAN
20       KO
21      LLY
22      LMT
23       MO
24      MRK
25      PEP
26      PFE
27       PG
28       PM
29     PYPL
30     QCOM
31    RY.TO
32  SHOP.TO
33     T.TO
34    TD.TO
35      TXN
36      UNH
37      UNP
38      UPS
39      USB

## Contribution Declaration

The following team members made a meaningful contribution to this assignment:

Insert Names Here.