In [39]:
#These are the libraries you can use.  You may add any libraries directy related to threading if this is a direction
#you wish to go (this is not from the course, so it's entirely on you if you wish to use threading).  Any
#further libraries you wish to use you must email me, james@uwaterloo.ca, for permission.

from IPython.display import display, Math, Latex

import pandas as pd
import numpy as np
import numpy_financial as npf
import yfinance as yf
import matplotlib.pyplot as plt
import random
from datetime import datetime

## Group Assignment
### Team Number: 14
### Team Member Names: Aadya, Furqan, Pranay
### Team Strategy Chosen: Market Beat

In [40]:

input_tickers = pd.read_csv("Tickers_Example.csv", names=['Tickers']) #OR any other CSV file with tickers in it
input_tickers

        Tickers
0          AAPL
1          AAPL
2          ABBV
3           ABT
4           ABT
5           ACN
6          HSBC
7           AGN
8           AIG
9          AMZN
10          AXP
11           BA
12           BA
13          BAC
14        BB.TO
15         BIIB
16           BK
17          SAP
18        MC.PA
19          BLK
20          BMY
21            C
22          CAT
23         CELG
24           CL
25          SAN
26           KO
27          LLY
28          LMT
29       9984.T
30           MO
31          MON
32          MRK
33          PEP
34  RELIANCE.NS
35          PFE
36           PG
37           PM
38         PYPL
39         QCOM
40          RTN
41        RY.TO
42      INFY.NS
43      SHOP.TO
44         T.TO
45        TD.TO
46       CPA.AX
47          TXN
48          UNH
49          UNP
50          UPS
51          USB

In [41]:
## PRELIMINARY DATA PROCESSING 
## AND INPUT PROCESSING

## WILL CSV BE EXACTLY THE WAY IT IS IN EXAMPLE??

## Check if implementation of US and Canadian ticker validation is sufficient/correct
## Should we do it through currency checks, or exchange checks as below?

def validate_ticker(ticker):
    try:
        stock = yf.Ticker(ticker)
        info = stock.info

        if info and 'regularMarketPrice' in info:
            if 'exchange' in info:
                exchange = info['exchange']
                # yfinance uses these exchange codes, so we check against them
                valid_exchanges = ['NMS', 'NGM', 'NYQ','NAD','PCX','BTS','CBQ','ASE', 'TOR', 'TSE', 'Toronto', 'TSXV', 'CNQ', 'CSE','NEO']
                if exchange in valid_exchanges:
                    return True
                else:
                    return False  
            else:
                return False  
        else:
            return False
    except:
        return False

valid_tickers = []
for ticker in input_tickers['Tickers']:
    if validate_ticker(ticker):
        valid_tickers.append(ticker)
        #print(f"✓ Valid: {ticker}")  
    else:
        print(f"✗ Invalid ticker: {ticker}")

valid_tickers_df = pd.DataFrame(valid_tickers, columns=['Ticker'])
valid_tickers_df

# ✗ Invalid ticker: AGN
# ✗ Invalid ticker: MC.PA
# ✗ Invalid ticker: CELG
# ✗ Invalid ticker: 9984.T
# ✗ Invalid ticker: MON
# ✗ Invalid ticker: RELIANCE.NS
# ✗ Invalid ticker: RTN
# ✗ Invalid ticker: INFY.NS
# ✗ Invalid ticker: CPA.AX

✗ Invalid ticker: AGN
✗ Invalid ticker: MC.PA
✗ Invalid ticker: CELG
✗ Invalid ticker: 9984.T
✗ Invalid ticker: MON
✗ Invalid ticker: RELIANCE.NS
✗ Invalid ticker: RTN
✗ Invalid ticker: INFY.NS
✗ Invalid ticker: CPA.AX

     Ticker
0      AAPL
1      AAPL
2      ABBV
3       ABT
4       ABT
5       ACN
6      HSBC
7       AIG
8      AMZN
9       AXP
10       BA
11       BA
12      BAC
13    BB.TO
14     BIIB
15       BK
16      SAP
17      BLK
18      BMY
19        C
20      CAT
21       CL
22      SAN
23       KO
24      LLY
25      LMT
26       MO
27      MRK
28      PEP
29      PFE
30       PG
31       PM
32     PYPL
33     QCOM
34    RY.TO
35  SHOP.TO
36     T.TO
37    TD.TO
38      TXN
39      UNH
40      UNP
41      UPS
42      USB

In [42]:
# check for duplicate tickers

def check_duplicates(df):
    duplicates = df.duplicated()

    for index in duplicates.index:
        if duplicates[index] == True:
            print(f"Removing duplicate: {df.loc[index, 'Ticker']}")
            # remove the row from the dataframe
            df.drop(index, inplace=True)
    return df.reset_index().drop(columns=['index'])

check_duplicates(valid_tickers_df)

Removing duplicate: AAPL
Removing duplicate: ABT
Removing duplicate: BA

     Ticker
0      AAPL
1      ABBV
2       ABT
3       ACN
4      HSBC
5       AIG
6      AMZN
7       AXP
8        BA
9       BAC
10    BB.TO
11     BIIB
12       BK
13      SAP
14      BLK
15      BMY
16        C
17      CAT
18       CL
19      SAN
20       KO
21      LLY
22      LMT
23       MO
24      MRK
25      PEP
26      PFE
27       PG
28       PM
29     PYPL
30     QCOM
31    RY.TO
32  SHOP.TO
33     T.TO
34    TD.TO
35      TXN
36      UNH
37      UNP
38      UPS
39      USB

In [43]:
## REMOVING STOCKS WITH AVG TRADE VOLUME < 5000 between Oct 1, 2024 and Sep 30, 2025 (drop months with < 18 trading days).
##CHECK to ensure, and filter out stocks that do not meet this criteria

def filter_by_avg_volume(df, start_date="2024-10-01", end_date="2025-09-30", min_avg_volume=5000, min_trading_days=18):
    filtered_tickers = []
    for ticker in df['Ticker']:
        stock = yf.Ticker(ticker)
        
        hist = stock.history(start=start_date, end=end_date)
        hist.index = hist.index.tz_localize(None)

        monthly_groups = hist.groupby(hist.index.to_period("M"))
        valid = True
        for month, group in monthly_groups:
            trading_days = len(group)
            if trading_days >= min_trading_days:
                avg_volume = group['Volume'].mean()
                if avg_volume < min_avg_volume:
                    print(f"✗ Ticker failed volume filter: {ticker} (Avg Volume: {avg_volume:.2f} in {month})")
                    valid = False
                    break
        if valid:
            print(f"✓ Ticker passed volume filter: {ticker}")
            filtered_tickers.append(ticker)
    return pd.DataFrame(filtered_tickers, columns=['Ticker'])

final_tickers_df = filter_by_avg_volume(valid_tickers_df)
final_tickers_df

✓ Ticker passed volume filter: AAPL
✓ Ticker passed volume filter: ABBV
✓ Ticker passed volume filter: ABT
✓ Ticker passed volume filter: ACN
✓ Ticker passed volume filter: HSBC
✓ Ticker passed volume filter: AIG
✓ Ticker passed volume filter: AMZN
✓ Ticker passed volume filter: AXP
✓ Ticker passed volume filter: BA
✓ Ticker passed volume filter: BAC
✓ Ticker passed volume filter: BB.TO
✓ Ticker passed volume filter: BIIB
✓ Ticker passed volume filter: BK
✓ Ticker passed volume filter: SAP
✓ Ticker passed volume filter: BLK
✓ Ticker passed volume filter: BMY
✓ Ticker passed volume filter: C
✓ Ticker passed volume filter: CAT
✓ Ticker passed volume filter: CL
✓ Ticker passed volume filter: SAN
✓ Ticker passed volume filter: KO
✓ Ticker passed volume filter: LLY
✓ Ticker passed volume filter: LMT
✓ Ticker passed volume filter: MO
✓ Ticker passed volume filter: MRK
✓ Ticker passed volume filter: PEP
✓ Ticker passed volume filter: PFE
✓ Ticker passed volume filter: PG
✓ Ticker passed volume filter: PM
✓ Ticker passed volume filter: PYPL
✓ Ticker passed volume filter: QCOM
✓ Ticker passed volume filter: RY.TO
✓ Ticker passed volume filter: SHOP.TO
✓ Ticker passed volume filter: T.TO
✓ Ticker passed volume filter: TD.TO
✓ Ticker passed volume filter: TXN
✓ Ticker passed volume filter: UNH
✓ Ticker passed volume filter: UNP
✓ Ticker passed volume filter: UPS
✓ Ticker passed volume filter: USB

     Ticker
0      AAPL
1      ABBV
2       ABT
3       ACN
4      HSBC
5       AIG
6      AMZN
7       AXP
8        BA
9       BAC
10    BB.TO
11     BIIB
12       BK
13      SAP
14      BLK
15      BMY
16        C
17      CAT
18       CL
19      SAN
20       KO
21      LLY
22      LMT
23       MO
24      MRK
25      PEP
26      PFE
27       PG
28       PM
29     PYPL
30     QCOM
31    RY.TO
32  SHOP.TO
33     T.TO
34    TD.TO
35      TXN
36      UNH
37      UNP
38      UPS
39      USB

In [ ]:
#Downloading history for valid tickers

tickers_list =  valid_tickers_df['Ticker'].tolist()

stock_data= yf.download(tickers_list, period="6mo", interval="1d", group_by='ticker', auto_adjust=True, threads=True)

# Download benchmark data (S&P 500 + TSX average)
sp500_data = yf.download('^GSPC', period='6mo', auto_adjust=True)
tsx_data = yf.download('^GSPTSE', period='6mo', auto_adjust=True)

# checking the 'Close' prices to ensure they are Series
if isinstance(sp500_data, pd.DataFrame):
    sp500 = sp500_data['Close'].squeeze() 
else:
    sp500 = sp500_data

if isinstance(tsx_data, pd.DataFrame):
    tsx = tsx_data['Close'].squeeze()  
else:
    tsx = tsx_data

# Remove timezones
sp500.index = sp500.index.tz_localize(None)
tsx.index = tsx.index.tz_localize(None)

[*********************100%***********************]  40 of 40 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

sp500 type: <class 'pandas.core.series.Series'>, shape: (128,)
tsx type: <class 'pandas.core.series.Series'>, shape: (128,)

Scenario 1: High Alpha, Low Beta (< 1.0)

 - Stock outperforms with less volatility than market

 - Best case/ideal scenario 

 - Means it is a Defensive stock that somehow beats the market, low risk high return

Scenario 2: High Alpha, High Beta (> 1.5)

 - Stock outperforms but is very volatile

 - Risky but rewarding

 - Also high reward, but higher risk as well. Still viable option to help choose stocks that will beat market

 - Example: Tech stock in a bull market

Scenario 3: Low/Negative Alpha, High Beta

 - Stock underperforms and is volatile

 - Low return relative to market/less than market, AND high volatility so potential further loss on an already underperforming stock.  

 - Worst case 

 - Want to avoid these types of stocks 


WE WANT TO INVEST IN:

Stocks which fall within the first two scenarios, as they are the most ideal to maximize returns, scenario 1 being the most effective. Stocks which fall in scenario 3, will be avoided.

In [ ]:
## CALCULATING ALPHA AND SORTING TICKERS HIGH TO LOW BY ALPHA


#assuming we have a list of valid tickers
#we need a function that simply returns the alpha of a ticker
#then run a for loop that calls that function for every ticker
#while ranking it from best to worst in a list or dictionary maybe
#going to also assume we have the portfolio returns, risk free rate, expected market return, and the portfolio beta


# calculates beta of a stock 
# beta is cov (Rp, Rm) / var (Rm)
def calc_beta(ticker_returns, market_returns):
    covariance = ticker_returns.cov(market_returns)
    variance = market_returns.var()
    beta = covariance / variance
    return beta

#function to calculate alpha of a ticker given the following parameters
#returns the ticker and its alpha in a list
#Good alpha > 0; Means positive returns relative to the market
#Zero alpha (\(\alpha =0\)): The investment's return was in line with the benchmark index, meaning it did not outperform or underperform after adjusting for risk.
#Negative alpha (\(<0\)): The investment's performance was worse than its benchmark index, considering the risk taken. 
def calc_alpha(portfolio_return, risk_free_rate, expected_market_return, portfolio_beta): 
    tick_alpha_calculation = portfolio_return - (risk_free_rate + (portfolio_beta * (expected_market_return-risk_free_rate)))

    return tick_alpha_calculation

In [89]:
sp500_aligned, tsx_aligned = sp500.align(tsx, join='inner')

# Create benchmark
benchmark_prices = (sp500_aligned + tsx_aligned) / 2
benchmark_returns = benchmark_prices.pct_change().dropna()

risk_free_rate = 0.04
market_actual_return = (benchmark_prices.iloc[-1] / benchmark_prices.iloc[0]) - 1 

## Will build loop though stock_data[] and as it goes through each ticker we can calculate the relevant metrics for those tickers
##Apply created functions for metrics to the tickers while we iterate through the loop

alpha_results = []

for ticker in tickers_list:
    stock_close = stock_data[ticker]['Close'].dropna()
    stock_close.index = stock_close.index.tz_localize(None)
    stock_returns = stock_close.pct_change().dropna()

    beta = calc_beta(stock_returns, benchmark_returns)
    stock_actual_return = (stock_close.iloc[-1] / stock_close.iloc[0]) - 1
    alpha = calc_alpha(stock_actual_return, risk_free_rate, market_actual_return, beta)
    
    # Append to results list
    alpha_results.append({
        'Ticker': ticker,
        'Alpha': alpha,
        'Beta': beta,
        'Return': stock_actual_return
    })

    print(f"✓ {ticker}: Alpha={alpha:.4f}, Beta={beta:.2f}")

# Convert to DataFrame
results_df = pd.DataFrame(alpha_results)

# Sort by Alpha (highest first)
results_df = results_df.sort_values('Alpha', ascending=False)

# Display
print("\n=== Top Stocks by Alpha ===")
results_df.reset_index(drop=True, inplace=True)
results_df

✓ AAPL: Alpha=0.1548, Beta=0.77
✓ ABBV: Alpha=0.2221, Beta=0.30
✓ ABT: Alpha=-0.0709, Beta=0.15
✓ ACN: Alpha=-0.3696, Beta=0.74
✓ HSBC: Alpha=0.1142, Beta=0.78
✓ AIG: Alpha=-0.1441, Beta=0.39
✓ AMZN: Alpha=-0.0230, Beta=1.02
✓ AXP: Alpha=0.0471, Beta=0.89
✓ BA: Alpha=-0.1786, Beta=0.66
✓ BAC: Alpha=0.0396, Beta=0.96
✓ BB.TO: Alpha=-0.1230, Beta=1.53
✓ BIIB: Alpha=0.2446, Beta=0.56
✓ BK: Alpha=0.1119, Beta=0.77
✓ SAP: Alpha=-0.2898, Beta=0.66
✓ BLK: Alpha=-0.1026, Beta=1.20
✓ BMY: Alpha=-0.0532, Beta=0.47
✓ C: Alpha=0.1442, Beta=1.22
✓ CAT: Alpha=0.4080, Beta=1.17
✓ CL: Alpha=-0.1604, Beta=0.02
✓ SAN: Alpha=0.2255, Beta=1.03
✓ KO: Alpha=-0.0162, Beta=-0.12
✓ LLY: Alpha=0.2716, Beta=0.76
✓ LMT: Alpha=-0.0738, Beta=0.40
✓ MO: Alpha=0.0048, Beta=-0.07
✓ MRK: Alpha=0.2063, Beta=0.17
✓ PEP: Alpha=0.0689, Beta=0.19
✓ PFE: Alpha=0.0274, Beta=0.64
✓ PG: Alpha=-0.1385, Beta=0.16
✓ PM: Alpha=-0.1084, Beta=0.02
✓ PYPL: Alpha=-0.3500, Beta=1.50
✓ QCOM: Alpha=-0.0318, Beta=1.16
✓ RY.TO: Alpha=0.0863, Beta=0.74
✓ SHOP.TO: Alpha=-0.1597, Beta=3.48
✓ T.TO: Alpha=-0.0736, Beta=0.06
✓ TD.TO: Alpha=0.1742, Beta=0.65
✓ TXN: Alpha=-0.2737, Beta=0.77
✓ UNH: Alpha=0.0012, Beta=1.18
✓ UNP: Alpha=-0.1189, Beta=0.46
✓ UPS: Alpha=-0.1238, Beta=0.60
✓ USB: Alpha=-0.0802, Beta=0.96

=== Top Stocks by Alpha ===

     Ticker     Alpha      Beta    Return
0       CAT  0.408017  1.170178  0.594172
1       LLY  0.271604  0.757359  0.406197
2      BIIB  0.244579  0.559712  0.354487
3       SAN  0.225517  1.031036  0.394293
4      ABBV  0.222116  0.297701  0.299298
5       MRK  0.206330  0.166115  0.267078
6     TD.TO  0.174155  0.651055  0.295471
7      AAPL  0.154778  0.770458  0.291007
8         C  0.144225  1.223507  0.337041
9      HSBC  0.114229  0.782386  0.251948
10       BK  0.111927  0.774395  0.248648
11    RY.TO  0.086349  0.742821  0.219126
12      PEP  0.068938  0.186763  0.132264
13      AXP  0.047054  0.891709  0.198428
14      BAC  0.039587  0.956569  0.199062
15      PFE  0.027434  0.643808  0.147845
16       MO  0.004751 -0.069216  0.036106
17      UNH  0.001249  1.182600  0.188955
18       KO -0.016189 -0.122936  0.008456
19     AMZN -0.023020  1.016025  0.143881
20     QCOM -0.031823  1.162763  0.153405
21      BMY -0.053166  0.473295  0.045948
22      ABT -0.070909  0.151975 -0.011927
23     T.TO -0.073636  0.060803 -0.026041
24      LMT -0.073754  0.395212  0.015608
25      USB -0.080173  0.959431  0.079659
26      BLK -0.102584  1.197279  0.086955
27       PM -0.108391  0.023640 -0.065439
28      UNP -0.118863  0.455309 -0.021995
29    BB.TO -0.122970  1.532640  0.108456
30      UPS -0.123778  0.595092 -0.009451
31       PG -0.138455  0.162661 -0.078138
32      AIG -0.144054  0.389561 -0.055398
33  SHOP.TO -0.159665  3.480301  0.315023
34       CL -0.160425  0.018591 -0.118103
35       BA -0.178648  0.655099 -0.056827
36      TXN -0.273709  0.766481 -0.137976
37      SAP -0.289809  0.658557 -0.167556
38     PYPL -0.350026  1.502239 -0.122398
39      ACN -0.369584  0.736984 -0.237535

In [ ]:
alpha_tickers = []

#getting alpha for each ticker and adding them to list
for ticker in valid_tickers:
    # calculating beta before alpha for each stock
    # ticker_returns and market_returns will have to be defined
    ticker_beta = calc_beta(ticker, ticker_returns, expected_market_returns)

    ticker_alpha = calc_alpha(ticker, ticker_return, risk_free_rate, expected_market_return, ticker_beta)
    alpha_tickers.append(ticker_alpha)



#start with empty list because we havent sorted yet
sorted_alpha_tickers = []

#actually sorting by going through our unsorted list, finding the higest alpha then adding just the ticker to sorted list
#because previous list is a list of list, in the sense that each ticker is in a list with its alpha
#so now i only add the ticker to the list. essentially sorting the tickers alphas by position in the new list
#first is the best and last is the worst

#because we are dealing with a listoflist
#to access only the alpha we need to do go to the index and then the index of that index which will always be [1]
while len(alpha_tickers) > 0:
    #start with first value
    index = 0

    for i in range(1, len(alpha_tickers)):
        if alpha_tickers[i][1] > alpha_tickers[index][1]:
            index = i
    
    sorted_alpha_tickers.append(alpha_tickers[index][0])
    alpha_tickers.pop(index)


#so now sorted_alpha_tickers is a list of tickers sorted high to low by alpha

## Contribution Declaration

The following team members made a meaningful contribution to this assignment:

Insert Names Here.